<h1 class="text-center">Bem vindo {{usuario.nome}}</h1>

<div *ngIf="mostrarErros">
  <div *ngFor="let error of erros">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="erro">
      <strong>{{error}}</strong>
    </div>
  </div>
</div>

<div>
  <label for="nome" class="form-label">Nome</label>
  <input type="text" class="form-control" nome="nome" id="nome" required [(ngModel)]="usuario.nome"/>

  <label for="login" class="form-label">Login</label>
  <input type="text" class="form-control" nome="login" id="login" required [(ngModel)]="usuario.login"/>

  <label for="senha" class="form-label">Senha - (Não é possível alterar)</label>
  <input type="senha" class="form-control" nome="senha" id="senha" required disabled [(ngModel)]="usuario.senha"/>

  <label for="email" class="form-label">Email</label>
  <input type="email" class="form-control" nome="email" id="email" required [(ngModel)]="usuario.email"/>

  <label for="dataDeNascimento" class="form-label">Data de Nascimento - (Não é possível alterar)</label>
  <input type="date" class="form-control" nome="dataDeNascimento" id="dataDeNascimento" disabled [(ngModel)]="usuario.dataDeNascimento"/>

  <button style="margin-top: 1%" type="button" class="btn btn-success" (click)="updateUser()" [disabled]="disabled">Editar</button>
</div>

