<h1 class="text-center">Listando Usuarios</h1>
<button style="margin-right: 1%; margin-bottom: 1%;" type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="aniversariantesDoMes()" data-bs-target="#aniversariantes">
  Aniversariantes Do mês
</button>
<div class="table-responsive">
  <div class="text-right">
    <button style="margin-bottom: 1%;" type="button" (click)="createUser()" class="btn btn-success">Cadastrar Usuarios</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">nome</th>
        <th scope="col">Login</th>
        <th scope="col">email</th>
        <th scope="col">senha</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col" class="text-center">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuarios">
        <th scope="row">{{user.idUsuario}}</th>
        <td>{{user.nome}}</td>
        <td>{{user.login}}</td>
        <td>{{user.email}}</td>
        <td>{{user.senha}}</td>
        <td>{{user.dataDeNascimento}}</td>
        <td class="text-center">
          <button type="button" class="btn btn-primary mx-2" (click)="updateUser(user.idUsuario)">Editar</button>
          <button type="button" class="btn btn-danger mx-2" (click)="deleteUser(user.idUsuario)">excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="aniversariantes" tabindex="-1" aria-labelledby="Aniversariantes" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aniversariantes">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col" class="text-center">Data de Aniversário</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of aniversariantes">
                        <td>{{usuario.idUsuario}}</td>
                        <td>{{usuario.nome}}</td>
                        <td class="text-center">{{usuario.dataDeNascimento| date:'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
